[Desktop Entry]
Name=Clippy Land
Comment=Clipboard history applet for COSMIC
Type=Application
Icon=com.keewee.CosmicAppletClippyLand
Exec=cosmic-applet-clippy-land %F
Terminal=false
StartupNotify=true
Categories=Utility;X-COSMIC;
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
